<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="loggingmodule1" frontName="loggingmodule1">
            <module name="Logging_Module1" />
        </route>
    </router>
</config>
