<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="video35plugintut" frontName="video35plugintut">
            <module name="Video35_PluginTut" />
        </route>
    </router>
</config>
