<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <type name="Magento\Catalog\Model\Product">
            <plugin name="productOnSale" type="UserStory2\Kartik\Plugins\ProductOnSale" disabled="false"/>
        </type>
        <type name="Magento\Theme\Block\Html\Footer">
            <plugin name="customCopyrightMsg" type="UserStory2\Kartik\Plugins\CustomCopyrightMsg" disabled="false"/>        
        </type>
         <type name="Magento\Theme\Block\Html\Header">
            <plugin name="customWelcomeMsg" type="UserStory2\Kartik\Plugins\CustomWelcomeMsg" disabled="false"/>        
        </type>
        <type name="Magento\Theme\Block\Html\Breadcrumbs">
            <plugin name="CustomizeBreadCrumb" type="UserStory2\Kartik\Plugins\CustomizeBreadCrumb" disabled="false"/>        
        </type>
</config>